body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}

h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}

p {
  line-height: 2em;
}

.padded {
  padding: 100px 0;
}

.wrapper-grey {
  background: #F4F4F4;
}

.signup-form {
  margin-top: 50px;
  margin-bottom: 30px;
}

.inline-form {
  margin: 20px;
}
